html,
body {
  margin: 0 auto;
  padding: 0;
  display: block;
}
.container {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.gamemode {
  display: flex;
  flex-direction: column; /* To make children "flow" downwards */
}
.gamemode button {
  margin: 4px;
  width: 20%;
}
.select {
  display: none;
}
.blue {
  background-color: blue;
}

#disablemouse {
  pointer-events: none;
}
.form {
  display: none;
}
.highscore {
  display: none;
}

.homepage {
  display: none;
}

.homepage h1 {
  color: blueviolet;
}
.homepage button:nth-child(3) {
  border-radius: 10px;
  background-color: aquamarine;
}
.homepage button:nth-child(4) {
  border-radius: 10px;
  background-color: blueviolet;
}
